// Navigation code here
nav {
    height: 100px;
    padding: .5% 0%;
    .flex(column, space-around);
    align-items: center;
    background: @main-border-color;

    h1{
        font-size: 3.5rem;
        padding-bottom: 8px;
    }

    .links {
        width: 380px;
        @media @phone {
            width: 100%;
        }
        .flex(row, space-between);      
        a {
            text-decoration: none;
            font-size: 1.8rem;
            color: black;
        }
    }
}